ACCESS_TOKEN_PRIVATE_KEY=your-access-token-secret-key
REFRESH_TOKEN_PRIVATE_KEY=your-refresh-token-secret-key
REFRESH_TOKEN_COOKIE_NAME=refresh_token
COOKIE_NAME=session
PORT=8080
SECRET_SESSION_KEY=your-session-secret-key
REDIS_PASSWORD=
REDIS_HOST=127.0.0.1
DB_HOST=127.0.0.1
DB_USERNAME=root
DB_DATABASE=social_media
DB_PASSWORD=
NODE_ENV=development
URL_APP=http://localhost:8080
FRONTEND_URL=http://localhost:3000
WEB_PUSH_PUBLIC_KEY=
WEB_PUSH_PRIVATE_KEY=
SENDER_EMAIL_HOST=smtp.example.com
SENDER_EMAIL_PORT=465
SENDER_EMAIL_USERNAME=noreply@example.com
SENDER_EMAIL_PASSWORD=
PATH_FOlDER_UPLOAD=/var/www/uploads
ENABLE_SEED_ROUTES=false
