<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Pham Thanh Nam!</title>
    <style>
        body {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            margin-left: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .container {
            width: 500px;
            margin: 0 auto;
        }

        .logo {
            width: 100px;
            height: 100px;
            margin: 20px 0 0 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <a href="https://phamthanhnam.com"><img
                src="https://api.phamthanhnam.com/image/n/20230423-logo-1682242032133.png" class="logo"></a>
        <h1>Welcome to Pham Thanh Nam!</h1>
        <p>We're so glad you're here.</p>
        <p>We created Pham Thanh Nam to help people connect with each other and build meaningful
            relationships. We believe that everyone has something to offer, and we want to create a space where everyone
            can feel welcome and accepted.</p>
        <p>Here are a few things you can do to get started on Pham Thanh Nam:</p>
        <ul>
            <li>Create a profile and add a photo.</li>
            <li>Follow your friends and family.</li>
            <li>Join groups that interest you.</li>
            <li>Share your thoughts and experiences.</li>
            <li>Connect with people from all over the world.</li>
        </ul>
        <p>We hope you enjoy using Pham Thanh Nam. If you have any questions, please don't hesitate to
            contact us.</p>
        <p>Thanks,</p>
        <p>The Pham Thanh Nam Team</p>
    </div>
</body>

</html>